<section class="repeating_section">
		<div class="overlay_card">


			<img src="{{pro.image.url}}">


			<h4 class="heading_card">{{pro.name}}</h4>

			<div class="description_card" align="center" style= "width: 90%;">
				<p>
					{{pro.description}}
				</p>

				<div class="a_div" align="center">
					<a href="{{pro.link}}" target="_blank"><button class="click_here">Click Here</button></a>
				</div>
			</div>





		</div>
	</section>
















{% comment %}
{% load list_index %}
{% if forloop.parentloop.counter %}
	<section class="repeating_section">
		<div class="overlay_card">
			<div class="description_card">
				<p>
					{{forloop.parentloop.counter0|multiply:3|add:forloop.counter0|get_from_list:projects_list|get_value:'description'}}
				</p>

				<div class="ul_div">
					<ul class="tools_card vertical-list_card">
						<li style="position: relative; top: 30px;"><a href="{{forloop.parentloop.counter0|multiply:3|add:forloop.counter0|get_from_list:projects_list|get_value:'link'}}" target="_blank"><button class="click_here">Click Here</button></a></li>

					</ul>
				</div>
			</div>



			<img src="{{forloop.parentloop.counter0|multiply:3|add:forloop.counter0|get_from_list:projects_list|get_value:'image'}}">


			<h4 class="heading_card">{{forloop.parentloop.counter0|multiply:3|add:forloop.counter0|get_from_list:projects_list|get_value:'name'}}</h4>
		</div>
	</section>
{% else %}
	<section class="repeating_section">
		<div class="overlay_card">
			<div class="description_card">
				<p>
					{{projects.count|subtract:forloop.counter0|subtract:1|get_from_list:projects_list|get_value:'description'}}
				</p>

				<ul class="tools_card vertical-list_card">
					<li><a href="{{projects.count|subtract:forloop.counter0|subtract:1|get_from_list:projects_list|get_value:'link'}}" target="_blank"><button>Click Here</button></a></li>
				</ul>
			</div>



			<img src="{{projects.count|subtract:forloop.counter0|subtract:1|get_from_list:projects_list|get_value:'image'}}">


			<h4 class="heading_card">{{projects.count|subtract:forloop.counter0|subtract:1|get_from_list:projects_list|get_value:'name'}}</h4>
		</div>
	</section>
{% endif %}
{% endcomment %}

